Source: soapyhydrasdr
Section: hamradio
Priority: optional
Maintainer: Benjamin Vernoux <bvernoux@hydrasdr.com>
Build-Depends:
    debhelper (>= 11.0.0),
    cmake,
    libsoapysdr-dev,
    libhydrasdr-dev
Standards-Version: 4.5.0
Homepage: https://github.com/hydrasdr/SoapyHydraSDR

Package: soapysdr0.7-module-hydrasdr
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: HydraSDR device support for SoapySDR
 The Soapy HydraSDR project provides a SoapySDR hardware support module.

Package: soapysdr-module-hydrasdr
Architecture: all
Depends: soapysdr0.7-module-hydrasdr, ${misc:Depends}
Description: HydraSDR device support for SoapySDR (default version)
 The Soapy HydraSDR project provides a SoapySDR hardware support module.
 .
 This is an empty dependency package that pulls in the HydraSDR module
 for the default version of libsoapysdr.
